---
import { SITE, HOME } from "@consts";
import Qi from "@components/Qi.astro";
import Layout from "@layouts/Layout.astro";
import Connect from "@components/Connect.astro";
import Container from "@components/Container.astro";

import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
// import Quasar from "@components/Quasar.astro";

// const blog = (await getCollection("blog"))
//   .filter((post) => !post.data.draft)
//   .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
//   .slice(0, SITE.NUM_POSTS_ON_HOMEPAGE);

// const projects: CollectionEntry<"projects">[] = (
//   await getCollection("projects")
// )
//   .filter((project) => !project.data.draft)
//   .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
//   .slice(0, SITE.NUM_PROJECTS_ON_HOMEPAGE);
---

<Layout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <!-- <Quasar /> -->
    <div class="root space-y-16">
      <section>
        <article class="seed space-y-4">
          <span class="animate">
            <Qi href="/404" />
            <!-- <br /> -->
            <h1
              class="mt-4 text-3xl font-extrabold tracking-tight sm:mt-5 sm:leading-none lg:mt-6 lg:text-3xl xl:text-3xl"
            >
              <span class="animate">{SITE.ALIAS}</span>
            </h1>
          </span>
          <span class="animate">
            <span class="md:block">{SITE.DESCRIPTION}</span>
            <br />
            <span class="md:block">{SITE.DEFINITION}</span>
          </span>
          <!--  -->
        </article>
        <br />
         
      <!-- connect -->
        <Connect class="connect"/>
      </section>

    </div>
  </Container>
</Layout>
