---
import { SITE, HOME } from "@consts";
import Qi from "@components/Qi.astro";
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import { getCollection } from "astro:content";

const petals = (await getCollection("petals")).slice(0, SITE.NUM_POSTS_ON_HOMEPAGE);

// console.log("Number of petals:", petals.length);
// console.log("Petals:", petals.map(p => ({ title: p.data.title, date: p.data.date })));
---

<Layout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <div class="root space-y-16">
      <section>
        <article class="seed space-y-4">
          <span class="animate">
            <Qi href="/about" />
            <!-- <br /> -->
            <h1
              class="mt-4 text-3xl font-extrabold tracking-tight sm:mt-5 sm:leading-none lg:mt-6 lg:text-3xl xl:text-3xl"
            >
              <!-- <span class="animate">{SITE.ALIAS}</span> -->
            </h1>
          </span>
          <span class="animate">
            <span class="md:block">{SITE.DESCRIPTION}</span>
            <br />
            <span class="md:block">{SITE.DEFINITION}</span>
          </span>
          <!--  -->
        </article>
        <br />
         
      <!-- connect -->
        <!-- <Connect class="connect"/> -->
      </section>

      <!-- <section>
        <h2>Recent Posts</h2>
        <ul>
          {petals.map((petal) => (
            <li>
              <a href={`/petals/${petal.slug}`}>{petal.data.title}</a>
            </li>
          ))}
        </ul>
      </section> -->
    </div>
  </Container>
</Layout>
