---
import Link from "./Link.astro";
import { HERO, SITE } from "@consts";
import Container from "./Container.astro";
---

<Container>
    <!-- connect -->
    <section class="footer-links">
        <!-- <h2 class="font-semibold text-black dark:text-white">let's link</h2> -->
        <article>
            <!-- <p>link</p> -->
        </article>
        <ul class="">
            <li class="line-clamp-1">
                {HERO.GITHUB && (
                    <Link href={`https://${HERO.GITHUB}`}>
                        <!-- SVG for GitHub -->
                    </Link>
                )}
                {HERO.GITHUB && "/"}
                {HERO.MASTODON && (
                    <Link href={`https://${HERO.MASTODON}`}>
                        <!-- SVG for Mastodon -->
                    </Link>
                )}
                {HERO.MASTODON && "/"}
                {HERO.TWITTER && (
                    <Link href={`https://${HERO.TWITTER}`}>
                        <!-- SVG for Twitter -->
                    </Link>
                )}
                {HERO.TWITTER && "/"}
                <Link
                    href={`mailto:${SITE.EMAIL}`}
                    aria-label={`Email ${SITE.TITLE}`}
                >
                    <!-- SVG for Email -->
                </Link>
                {"/"}
                <Link href="/petals">
                    <!-- SVG for Petals -->
                </Link>
            </li>
        </ul>
    </section>
    <!-- connect end -->
</Container>
