---
import Container from "@components/Container.astro";
import { SITE, HERO } from "@consts";
import BackToTop from "@components/BackToTop.astro";
import Link from "@components/Link.astro";
---

<footer class="animate">
  <Container>
    <div class="relative">
      <div class="absolute -top-12 right-0">
        <!-- back to the top bugging on intial page load -->
        <BackToTop />
      </div>
    </div>
    <div class="flex items-center justify-between">
      <div>
        {SITE.TITLE} | 🫀 • 🫁 • 🧠 | &copy; {new Date().getFullYear()}
      </div>
      <!-- connect -->
      <section class="animate space-y-4">
        <!-- <h2 class="font-semibold text-black dark:text-white">let's link</h2> -->
        <article>
          <!-- <p>link</p> -->
        </article>
        <!-- make this is own component call it link.astro -->
        <ul class="not-prose flex flex-wrap gap-2">
          <li class="line-clamp-1"></li>

          <li class="line-clamp-1">
            <Link href={HERO.GITHUB}>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="1.3em"
                height="1.3em"
                viewBox="0 0 24 24"
                ><mask id="lineMdGithubLoop0" width="24" height="24" x="0" y="0"
                  ><g fill="#fff"
                    ><ellipse cx="9.5" cy="9" rx="1.5" ry="1"></ellipse><ellipse
                      cx="14.5"
                      cy="9"
                      rx="1.5"
                      ry="1"></ellipse></g
                  ></mask
                ><g
                  fill="none"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  ><path
                    stroke-dasharray="30"
                    stroke-dashoffset="30"
                    d="M12 4C13.6683 4 14.6122 4.39991 15 4.5C15.5255 4.07463 16.9375 3 18.5 3C18.8438 4 18.7863 5.21921 18.5 6C19.25 7 19.5 8 19.5 9.5C19.5 11.6875 19.017 13.0822 18 14C16.983 14.9178 15.8887 15.3749 14.5 15.5C15.1506 16.038 15 17.3743 15 18C15 18.7256 15 21 15 21M12 4C10.3317 4 9.38784 4.39991 9 4.5C8.47455 4.07463 7.0625 3 5.5 3C5.15625 4 5.21371 5.21921 5.5 6C4.75 7 4.5 8 4.5 9.5C4.5 11.6875 4.98301 13.0822 6 14C7.01699 14.9178 8.1113 15.3749 9.5 15.5C8.84944 16.038 9 17.3743 9 18C9 18.7256 9 21 9 21"
                    ><animate
                      fill="freeze"
                      attributeName="stroke-dashoffset"
                      dur="0.6s"
                      values="30;0"></animate></path
                  ><path stroke-dasharray="10" stroke-dashoffset="10" d="M9 19"
                    ><animate
                      fill="freeze"
                      attributeName="stroke-dashoffset"
                      begin="0.7s"
                      dur="0.2s"
                      values="10;0"></animate><animate
                      attributeName="d"
                      dur="3s"
                      repeatCount="indefinite"
                      values="M9 19c-1.406 0-2.844-.563-3.688-1.188C4.47 17.188 4.22 16.157 3 15.5;M9 19c-1.406 0-3-.5-4-.5-.532 0-1 0-2-.5;M9 19c-1.406 0-2.844-.563-3.688-1.188C4.47 17.188 4.22 16.157 3 15.5"
                    ></animate></path
                  ></g
                ><rect
                  width="8"
                  height="4"
                  x="8"
                  y="11"
                  fill="currentColor"
                  mask="url(#lineMdGithubLoop0)"
                  ><animate
                    attributeName="y"
                    dur="10s"
                    keyTimes="0;0.45;0.46;0.54;0.55;1"
                    repeatCount="indefinite"
                    values="11;11;7;7;11;11"></animate></rect
                ></svg
              >
            </Link>
            {"/"}
            <Link href={HERO.MASTODON}>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="1.3em"
                height="1.3em"
                viewBox="0 0 24 24"
                ><path
                  fill="currentColor"
                  d="M7 2v2h10V2zm10 2v2h2V4zm2 2v8h2V6zm0 8h-8v2h8zm-8 2H9v2h2zm0 2v2h2v-2zm0 2H7v2h4zm-4 0v-2H5v2zm-2-2V6H3v12zM5 6h2V4H5zm4 0v2h2V6zm2 2v2h2V8zm2 0h2V6h-2zm2 0v4h2V8zM9 8H7v4h2z"
                ></path></svg
              >
            </Link>
            {"/"}
            <Link href={HERO.TWITTER}>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="1.3em"
                height="1.3em"
                viewBox="0 0 24 24"
                ><path
                  fill="currentColor"
                  d="M8.5 2h2.5L11 2h-2.5zM13 2h2.5L15.5 2h-2.5zM10.5 2h5v0h-5zM8.5 2h5v0h-5zM10 2h3.5L13.5 2h-3.5z"
                  ><animate
                    fill="freeze"
                    attributeName="d"
                    dur="0.8s"
                    keyTimes="0;0.3;0.5;1"
                    values="M8.5 2h2.5L11 2h-2.5zM13 2h2.5L15.5 2h-2.5zM10.5 2h5v0h-5zM8.5 2h5v0h-5zM10 2h3.5L13.5 2h-3.5z;M8.5 2h2.5L11 22h-2.5zM13 2h2.5L15.5 22h-2.5zM10.5 2h5v2h-5zM8.5 20h5v2h-5zM10 2h3.5L13.5 22h-3.5z;M8.5 2h2.5L11 22h-2.5zM13 2h2.5L15.5 22h-2.5zM10.5 2h5v2h-5zM8.5 20h5v2h-5zM10 2h3.5L13.5 22h-3.5z;M1 2h2.5L18.5 22h-2.5zM5.5 2h2.5L23 22h-2.5zM3 2h5v2h-5zM16 20h5v2h-5zM18.5 2h3.5L5 22h-3.5z"
                  ></animate></path
                ></svg
              >
            </Link>
            {"/"}
            <Link
              href={`mailto:${SITE.EMAIL}`}
              aria-label={`Email ${SITE.TITLE}`}
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="1.3em"
                height="1.3em"
                viewBox="0 0 22 22"
                ><path
                  fill="currentColor"
                  d="M1 5h1V4h18v1h1v13h-1v1H2v-1H1zm2 12h16V9h-1v1h-2v1h-2v1h-2v1h-2v-1H8v-1H6v-1H4V9H3zM19 6H3v1h2v1h2v1h2v1h4V9h2V8h2V7h2z"
                ></path></svg
              >
            </Link>
          </li>
        </ul>
      </section>
      <!-- connect end -->
      <!-- theme buttons -->
      <div class="flex flex-wrap items-center gap-1.5">
        <button
          id="light-theme-button"
          aria-label="Light theme"
          class="group flex size-9 items-center justify-center rounded border border-black/15 hover:bg-black/5 focus-visible:bg-black/5 dark:border-white/20 dark:hover:bg-white/5 dark:focus-visible:bg-white/5"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="1.3em"
            height="1.3em"
            viewBox="0 0 24 24"
            ><g
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-width="2"
              ><circle cx="12" cy="32" r="5"
                ><animate
                  fill="freeze"
                  attributeName="cy"
                  dur="1.2s"
                  values="32;12"></animate></circle
              ><g stroke-dasharray="2" stroke-dashoffset="2"
                ><path d="M0 0"
                  ><animate
                    fill="freeze"
                    attributeName="d"
                    begin="1.4s"
                    dur="0.4s"
                    values="M12 19v1M19 12h1M12 5v-1M5 12h-1;M12 21v1M21 12h1M12 3v-1M3 12h-1"
                  ></animate><animate
                    fill="freeze"
                    attributeName="stroke-dashoffset"
                    begin="1.4s"
                    dur="0.4s"
                    values="2;0"></animate></path
                ><path d="M0 0"
                  ><animate
                    fill="freeze"
                    attributeName="d"
                    begin="1.8s"
                    dur="0.4s"
                    values="M17 17l0.5 0.5M17 7l0.5 -0.5M7 7l-0.5 -0.5M7 17l-0.5 0.5;M18.5 18.5l0.5 0.5M18.5 5.5l0.5 -0.5M5.5 5.5l-0.5 -0.5M5.5 18.5l-0.5 0.5"
                  ></animate><animate
                    fill="freeze"
                    attributeName="stroke-dashoffset"
                    begin="1.8s"
                    dur="0.4s"
                    values="2;0"></animate></path
                ><animateTransform
                  attributeName="transform"
                  dur="60s"
                  repeatCount="indefinite"
                  type="rotate"
                  values="0 12 12;360 12 12"></animateTransform></g
              ></g
            ></svg
          >
        </button>

        <!-- dark theme -->
        <button
          id="dark-theme-button"
          aria-label="Dark theme"
          class="group flex size-9 items-center justify-center rounded border border-black/15 hover:bg-black/5 focus-visible:bg-black/5 dark:border-white/20 dark:hover:bg-white/5 dark:focus-visible:bg-white/5"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="1.3em"
            height="1.3em"
            viewBox="0 0 24 24"
            ><g
              fill="none"
              stroke="currentColor"
              stroke-dasharray="4"
              stroke-dashoffset="4"
              stroke-linecap="round"
              stroke-linejoin="round"
              ><path d="M13 4h1.5M13 4h-1.5M13 4v1.5M13 4v-1.5"
                ><animate
                  id="lineMdMoonRisingAltLoop0"
                  fill="freeze"
                  attributeName="stroke-dashoffset"
                  begin="1.4s;lineMdMoonRisingAltLoop0.begin+12s"
                  dur="0.8s"
                  values="4;0"></animate><animate
                  fill="freeze"
                  attributeName="stroke-dashoffset"
                  begin="lineMdMoonRisingAltLoop0.begin+4s;lineMdMoonRisingAltLoop0.begin+8s"
                  dur="0.8s"
                  values="4;0"></animate><animate
                  fill="freeze"
                  attributeName="stroke-dashoffset"
                  begin="lineMdMoonRisingAltLoop0.begin+2.4s;lineMdMoonRisingAltLoop0.begin+6.4s;lineMdMoonRisingAltLoop0.begin+10.4s"
                  dur="0.8s"
                  values="0;4"></animate><set
                  attributeName="d"
                  begin="lineMdMoonRisingAltLoop0.begin+3.6s"
                  to="M12 5h1.5M12 5h-1.5M12 5v1.5M12 5v-1.5"></set><set
                  attributeName="d"
                  begin="lineMdMoonRisingAltLoop0.begin+7.6s"
                  to="M12 4h1.5M12 4h-1.5M12 4v1.5M12 4v-1.5"></set><set
                  attributeName="d"
                  begin="lineMdMoonRisingAltLoop0.begin+11.6s"
                  to="M13 4h1.5M13 4h-1.5M13 4v1.5M13 4v-1.5"></set></path
              ><path d="M19 11h1.5M19 11h-1.5M19 11v1.5M19 11v-1.5"
                ><animate
                  id="lineMdMoonRisingAltLoop1"
                  fill="freeze"
                  attributeName="stroke-dashoffset"
                  begin="2.2s;lineMdMoonRisingAltLoop1.begin+12s"
                  dur="0.8s"
                  values="4;0"></animate><animate
                  fill="freeze"
                  attributeName="stroke-dashoffset"
                  begin="lineMdMoonRisingAltLoop1.begin+4s;lineMdMoonRisingAltLoop1.begin+8s"
                  dur="0.8s"
                  values="4;0"></animate><animate
                  fill="freeze"
                  attributeName="stroke-dashoffset"
                  begin="lineMdMoonRisingAltLoop1.begin+2.4s;lineMdMoonRisingAltLoop1.begin+6.4s;lineMdMoonRisingAltLoop1.begin+10.4s"
                  dur="0.8s"
                  values="0;4"></animate><set
                  attributeName="d"
                  begin="lineMdMoonRisingAltLoop1.begin+3.6s"
                  to="M17 11h1.5M17 11h-1.5M17 11v1.5M17 11v-1.5"></set><set
                  attributeName="d"
                  begin="lineMdMoonRisingAltLoop1.begin+7.6s"
                  to="M18 12h1.5M18 12h-1.5M18 12v1.5M18 12v-1.5"></set><set
                  attributeName="d"
                  begin="lineMdMoonRisingAltLoop1.begin+11.6s"
                  to="M19 11h1.5M19 11h-1.5M19 11v1.5M19 11v-1.5"></set></path
              ><path d="M19 4h1.5M19 4h-1.5M19 4v1.5M19 4v-1.5"
                ><animate
                  id="lineMdMoonRisingAltLoop2"
                  fill="freeze"
                  attributeName="stroke-dashoffset"
                  begin="5.8s;lineMdMoonRisingAltLoop2.begin+12s"
                  dur="0.8s"
                  values="4;0"></animate><animate
                  fill="freeze"
                  attributeName="stroke-dashoffset"
                  begin="lineMdMoonRisingAltLoop2.begin+4s"
                  dur="0.8s"
                  values="4;0"></animate><animate
                  fill="freeze"
                  attributeName="stroke-dashoffset"
                  begin="lineMdMoonRisingAltLoop2.begin+2.4s;lineMdMoonRisingAltLoop2.begin+6.4s"
                  dur="0.8s"
                  values="0;4"></animate><set
                  attributeName="d"
                  begin="lineMdMoonRisingAltLoop2.begin+3.6s"
                  to="M20 5h1.5M20 5h-1.5M20 5v1.5M20 5v-1.5"></set><set
                  attributeName="d"
                  begin="lineMdMoonRisingAltLoop2.begin+11.6s"
                  to="M19 4h1.5M19 4h-1.5M19 4v1.5M19 4v-1.5"></set></path
              ></g
            ><path
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M7 6 C7 12.08 11.92 17 18 17 C18.53 17 19.05 16.96 19.56 16.89 C17.95 19.36 15.17 21 12 21 C7.03 21 3 16.97 3 12 C3 8.83 4.64 6.05 7.11 4.44 C7.04 4.95 7 5.47 7 6 Z"
              transform="translate(0 22)"
              ><animateMotion
                fill="freeze"
                calcMode="linear"
                dur="1.2s"
                path="M0 0v-22"></animateMotion></path
            ></svg
          >
        </button>
        <!-- system theme -->
        <button
          id="system-theme-button"
          aria-label="System theme"
          class="group flex size-9 items-center justify-center rounded border border-black/15 hover:bg-black/5 focus-visible:bg-black/5 dark:border-white/20 dark:hover:bg-white/5 dark:focus-visible:bg-white/5"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="1.3em"
            height="1.3em"
            viewBox="0 0 24 24"
            ><defs
              ><mask id="lineMdLightDarkLoop0"
                ><circle cx="7.5" cy="7.5" r="5.5" fill="#fff"></circle><circle
                  cx="7.5"
                  cy="7.5"
                  r="5.5"
                  ><animate
                    fill="freeze"
                    attributeName="cx"
                    dur="0.8s"
                    values="7.5;11"></animate><animate
                    fill="freeze"
                    attributeName="r"
                    dur="0.8s"
                    values="5.5;6.5"></animate></circle
                ></mask
              ><mask id="lineMdLightDarkLoop1"
                ><g fill="#fff"
                  ><circle cx="12" cy="9" r="5.5"
                    ><animate
                      fill="freeze"
                      attributeName="cy"
                      begin="2s"
                      dur="1s"
                      values="9;15"></animate></circle
                  ><g
                    ><g fill-opacity="0"
                      ><use
                        href="#lineMdLightDarkLoop2"
                        transform="rotate(-125 12 15)"></use><use
                        href="#lineMdLightDarkLoop2"
                        transform="rotate(-75 12 15)"></use><use
                        href="#lineMdLightDarkLoop2"
                        transform="rotate(-25 12 15)"></use><use
                        href="#lineMdLightDarkLoop2"
                        transform="rotate(25 12 15)"></use><use
                        href="#lineMdLightDarkLoop2"
                        transform="rotate(75 12 15)"></use><set
                        attributeName="fill-opacity"
                        begin="3s"
                        to="1"></set></g
                    ><animateTransform
                      attributeName="transform"
                      dur="10s"
                      repeatCount="indefinite"
                      type="rotate"
                      values="0 12 15;50 12 15"></animateTransform></g
                  ></g
                ><path d="M0 10h26v5h-26z"></path><path
                  fill="none"
                  stroke="#fff"
                  stroke-dasharray="26"
                  stroke-dashoffset="26"
                  stroke-linecap="round"
                  stroke-width="2"
                  d="M1 12h22"
                  ><animate
                    attributeName="d"
                    dur="12s"
                    repeatCount="indefinite"
                    values="M0 12h22;M2 12h22;M0 12h22"></animate><animate
                    fill="freeze"
                    attributeName="stroke-dashoffset"
                    begin="1s"
                    dur="0.8s"
                    values="26;52"></animate></path
                ></mask
              ><symbol id="lineMdLightDarkLoop2"
                ><path d="M0 0"
                  ><animate
                    fill="freeze"
                    attributeName="d"
                    begin="3s"
                    dur="0.8s"
                    values="M11 18h2L12 20z;M10.5 21.5h3L12 24z"
                  ></animate></path
                ></symbol
              ></defs
            ><g fill="currentColor"
              ><rect
                width="13"
                height="13"
                x="1"
                y="1"
                mask="url(#lineMdLightDarkLoop0)"></rect><path
                d="M-2 11h28v13h-28z"
                mask="url(#lineMdLightDarkLoop1)"
                transform="rotate(-45 12 12)"></path></g
            ></svg
          >
        </button>
      </div>
    </div>
  </Container>
</footer>
