---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import { SITE, HOME, HERO, SOCIALS } from "@consts";
import ArrowCard from "@components/ArrowCard.astro";
import Link from "@components/Link.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";


const blog = (await getCollection("blog"))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_POSTS_ON_HOMEPAGE);

const projects: CollectionEntry<"projects">[] = (
  await getCollection("projects")
)
  .filter((project) => !project.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_PROJECTS_ON_HOMEPAGE);
---

<Layout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <h1 class="animate font-semibold text-black dark:text-white">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="1em"
        height="1em"
        viewBox="0 0 128 128"
        ><path
          fill="#307d31"
          d="m56.81 85.29l21.86.17s-1.74 5.65-3.18 7.87c-2.35 3.6-3.52 5.44-4.52 9.13c-1.55 5.68-1.42 10.05-1.42 10.05s1.21-.42 2.68 0c1.79.51 2.76 1.7 2.6 2.43c-.15.65-2.14.21-3.52 1.59c-1.09 1.09-1.51 3.02-1.68 4.27c-.17 1.26-.34 2.85-2.68 3.18c-2.35.34-5.86.59-6.62-.59c-.75-1.17-.34-21.61-.34-21.61z"
        ></path><path
          fill="#5c9823"
          d="M56.56 80.76c-.42.75-10.32 2.53-10.32 2.53s-3.31 1.77-4.56 7.55c-.68 3.13-.53 9.47-1.12 11.69c-.84 3.18-4.36 5.03-4.19 5.78c.17.75 3.24.7 5.61-.34c5.36-2.35 6.3-7.21 8.04-11.39c1.68-4.02 4.86-6.13 4.86-6.13s-.75 2.92-.43 6.14c.27 2.77 1.14 6.3 0 9.73c-1.09 3.27-2.62 5.24-2.01 5.54c.46.22 5.92-.33 8.1-5.11c2.41-5.28 2.58-9.61 4.02-12.71c1.59-3.43 4.62-4.89 4.62-4.89s2.15 1.26 4.78 4.94c2.93 4.1 5.38 7.55 6.96 9.67c3.7 4.98 8.83 6.55 8.99 5.71c.25-1.34-2.47-3.49-3.02-6.11c-1.35-6.45.5-9.54-1.03-14.49c-2.2-7.15-7.39-7.28-9.19-7.62c-.42-.06-20.11-.49-20.11-.49"
        ></path><path
          fill="#96010c"
          d="M47.31 44.34c-1.13-1.01-17.87-13.21-17.87-13.21l-.25-7.42s-4.1-7.75.62-13.52c4.1-5.01 9.57-3.59 9.57-3.59s2.74-3.45 7.52-3.69c6.11-.31 9.09 4.83 9.09 4.83l27.55 4.53l15.47 10.06s2.29-.74 4.19.6c1.98 1.39 1.33 4.31 1.11 5.62c-.21 1.25-20.65 17.56-20.65 17.56l2.14 31.96l-7.14 7.97s-1 .98-3.05 1.24c-1.19.15-2.72-.33-2.72-.33l-4.45-12.78z"
        ></path><path
          fill="#af0c1b"
          d="m83.15 6.86l-3.72.28l-2.61 2.19l.93 4.21s.12 3.15-2.36 4.66c-2.48 1.51-7.35 3.99-7.35 3.99l-3.36 5.56s-2.16-.71-5.68-2.52c-3.29-1.7-7.5-5.58-7.5-5.58l-7.53-.51s-1.44-.13-2.65 1.15c-1.74 1.86-1.12 5.8 2.29 9.41c3.28 3.47 10.38 7.7 11.96 8.87c1.58 1.17 3.99 2.67 5.36 3.44c1.32.74 2.9 1.8 3.59 1.67c.69-.14 1.71-2.49 4.94-4.76c3.23-2.27 6.39-4.19 11.55-5.98c5.16-1.79 10.11-3.85 11.62-4.81c1.51-.96-.55-7.49-2.41-11.48s-6.94-10.2-7.07-9.79"
        ></path><path
          fill="#db132c"
          d="M65.07 23.98c-1.27 1.68-1.03 3.64-1.03 3.64s2.77 1.66 5.5 2.61c4.95 1.72 16.09 1.24 21.45-1.17s7.98-4.49 8.8-7.01c.96-2.96 1.76-8.94-4-13.55c-6.6-5.29-16.56-2.4-16.56-1.02s3.99.28 3.99 5.29s-4.4 8.04-8.87 8.66c-4.47.62-7.36 0-9.28 2.55"
        ></path><path
          fill="#f71538"
          d="M42.24 19.65s-.51-2.02 1.17-3.64c2.54-2.48 5.78-3.78 7.63-5.78s4.48-5.79 10.93-6.67c9.56-1.31 15.74 2.27 17.12 6.67s-1.24 5.91-3.92 5.98c-2.68.07-4.17-1.19-9.08-.34c-8.32 1.44-11.21 5.91-11.96 6.33c-.76.41-3.23-1.03-6.6-1.93c-2.43-.65-4.19-.49-5.29-.62"
        ></path><path
          fill="#cd0e1f"
          d="M69.62 48.38s1.7-5.65 7.25-9.23c5.56-3.58 9.61-3.67 16.68-6.88s9.51-5.32 10.64-6.06c1.16-.76 2.21-1.45 3.02-.12c.52.86-.38 4.38-2.77 7.8c-2.44 3.49-4.84 5.41-6.66 11.42c-2.41 7.93 2.22 15.14-2.72 27.88c-1.6 4.12-5.35 7.89-8.84 10.34s-8.52 3-8.52 3s1.79-1.25 2.77-5.85c.48-2.26 1.2-6.27.65-10.54c-1.57-12.21-11.5-21.76-11.5-21.76"
        ></path><path
          fill="#e2122d"
          d="M31.74 46.68c.12 2.68-1.14 12.43.49 20.26c1.28 6.16 7.62 17.05 19.49 20.25c10.92 2.95 22.61-.09 22.61-.09s4.41-7.45 2.18-18.31c-2.43-11.84-14.26-20.64-27.9-27.38c-16.39-8.1-19.36-17.86-19.36-17.86s-5.39-1.41-6.74 3.44c-2.07 7.44 9.05 15.64 9.23 19.69"
        ></path></svg
      >
    </h1>
    <div class="space-y-16">
      <section>
        <article class="space-y-4">
          <span class="animate">
            <h1
              class="mt-4 text-3xl font-extrabold tracking-tight text-white sm:mt-5 sm:leading-none lg:mt-6 lg:text-3xl xl:text-3xl"
            >
              <span class="md:block">{SITE.TITLE}</span>
              <!-- <box-icon type="solid" name="cat"></box-icon> -->
              <vue-typer text="Hello World! I was registered locally!"
              ></vue-typer>
            </h1>
            <!-- <p class="mt-3 text-base text-white sm:mt-5">{HERO.DESCRIPTION}</p> -->
          </span>
          <span class="animate">
            euthymia [ eu·​thy·​mia] (noun):
            <br /> "...a normal, tranquil mental state or mood."
          </span>
        </article>
      </section>

      <!-- lastest post -->
      <section class="animate space-y-6">
        <div class="flex flex-wrap items-center justify-between gap-y-2">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="1.3em"
            height="1.3em"
            viewBox="0 0 24 24"
            ><g fill="none" stroke="currentColor" stroke-width="1.5"
              ><path
                d="M2.906 17.505L5.337 3.718a2 2 0 0 1 2.317-1.623L19.472 4.18a2 2 0 0 1 1.622 2.317l-2.431 13.787a2 2 0 0 1-2.317 1.623L4.528 19.822a2 2 0 0 1-1.622-2.317Z"
              ></path><path
                stroke-linecap="round"
                d="m8.929 6.382l7.879 1.389m-8.574 2.55l7.879 1.39M7.54 14.26l4.924.869"
              ></path></g
            ></svg
          >

          <h2 class="font-semibold text-black dark:text-white">latest posts</h2>
          <Link href="/blog">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="1.3em"
              height="1.3em"
              viewBox="0 0 24 24"
              ><g
                fill="none"
                stroke="currentColor"
                stroke-dasharray="18"
                stroke-dashoffset="18"
                stroke-linecap="round"
                stroke-width="2"
                ><path d="M12 5V19"
                  ><animate
                    fill="freeze"
                    attributeName="stroke-dashoffset"
                    begin="0.4s"
                    dur="0.3s"
                    values="18;0"></animate></path
                ><path d="M5 12H19"
                  ><animate
                    fill="freeze"
                    attributeName="stroke-dashoffset"
                    dur="0.3s"
                    values="18;0"></animate></path
                ></g
              ></svg
            >
          </Link>
        </div>
        <ul class="not-prose flex flex-col gap-4">
          {
            blog.map((post) => (
              <li>
                <ArrowCard entry={post} />
              </li>
            ))
          }
        </ul>
      </section>

      <section class="animate space-y-6">
        <div class="flex flex-wrap items-center justify-between gap-y-2">
          <svg xmlns="http://www.w3.org/2000/svg" width="1.3em" height="1.3em" viewBox="0 0 24 24"><path fill="currentColor" d="M8 5h2v2H8zM6 7h2v2H6zM4 9h2v2H4zm-2 2h2v2H2zm2 2h2v2H4zm2 2h2v2H6zm2 2h2v2H8zm8-12h-2v2h2zm2 2h-2v2h2zm2 2h-2v2h2zm2 2h-2v2h2zm-2 2h-2v2h2zm-2 2h-2v2h2zm-2 2h-2v2h2z"/></svg>
          <h2 class="font-semibold text-black dark:text-white">
            recent projects
          </h2>
          <Link href="/projects">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="1.3em"
              height="1.3em"
              viewBox="0 0 24 24"
              ><g
                fill="none"
                stroke="currentColor"
                stroke-dasharray="18"
                stroke-dashoffset="18"
                stroke-linecap="round"
                stroke-width="2"
                ><path d="M12 5V19"
                  ><animate
                    fill="freeze"
                    attributeName="stroke-dashoffset"
                    begin="0.4s"
                    dur="0.3s"
                    values="18;0"></animate></path
                ><path d="M5 12H19"
                  ><animate
                    fill="freeze"
                    attributeName="stroke-dashoffset"
                    dur="0.3s"
                    values="18;0"></animate></path
                ></g
              ></svg
            >
          </Link>
        </div>
        <ul class="not-prose flex flex-col gap-4">
          {
            projects.map((project) => (
              <li>
                <ArrowCard entry={project} />
              </li>
            ))
          }
        </ul>
      </section>
      <!-- connect -->
      <section class="animate space-y-4">
        <h2 class="font-semibold text-black dark:text-white">let's link</h2>
        <article>
          <p>
            If you want to get in touch with me about something or just to say
            hi, reach out on social media or send me an email.
          </p>
        </article>
        <ul class="not-prose flex flex-wrap gap-2">

          <li class="line-clamp-1">


            
          </li>
     
          <li class="line-clamp-1">
            <Link href={HERO.GITHUB}>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="1.3em"
                height="1.3em"
                viewBox="0 0 24 24"
                ><mask id="lineMdGithubLoop0" width="24" height="24" x="0" y="0"
                  ><g fill="#fff"
                    ><ellipse cx="9.5" cy="9" rx="1.5" ry="1"></ellipse><ellipse
                      cx="14.5"
                      cy="9"
                      rx="1.5"
                      ry="1"></ellipse></g
                  ></mask
                ><g
                  fill="none"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  ><path
                    stroke-dasharray="30"
                    stroke-dashoffset="30"
                    d="M12 4C13.6683 4 14.6122 4.39991 15 4.5C15.5255 4.07463 16.9375 3 18.5 3C18.8438 4 18.7863 5.21921 18.5 6C19.25 7 19.5 8 19.5 9.5C19.5 11.6875 19.017 13.0822 18 14C16.983 14.9178 15.8887 15.3749 14.5 15.5C15.1506 16.038 15 17.3743 15 18C15 18.7256 15 21 15 21M12 4C10.3317 4 9.38784 4.39991 9 4.5C8.47455 4.07463 7.0625 3 5.5 3C5.15625 4 5.21371 5.21921 5.5 6C4.75 7 4.5 8 4.5 9.5C4.5 11.6875 4.98301 13.0822 6 14C7.01699 14.9178 8.1113 15.3749 9.5 15.5C8.84944 16.038 9 17.3743 9 18C9 18.7256 9 21 9 21"
                    ><animate
                      fill="freeze"
                      attributeName="stroke-dashoffset"
                      dur="0.6s"
                      values="30;0"></animate></path
                  ><path stroke-dasharray="10" stroke-dashoffset="10" d="M9 19"
                    ><animate
                      fill="freeze"
                      attributeName="stroke-dashoffset"
                      begin="0.7s"
                      dur="0.2s"
                      values="10;0"></animate><animate
                      attributeName="d"
                      dur="3s"
                      repeatCount="indefinite"
                      values="M9 19c-1.406 0-2.844-.563-3.688-1.188C4.47 17.188 4.22 16.157 3 15.5;M9 19c-1.406 0-3-.5-4-.5-.532 0-1 0-2-.5;M9 19c-1.406 0-2.844-.563-3.688-1.188C4.47 17.188 4.22 16.157 3 15.5"
                    ></animate></path
                  ></g
                ><rect
                  width="8"
                  height="4"
                  x="8"
                  y="11"
                  fill="currentColor"
                  mask="url(#lineMdGithubLoop0)"
                  ><animate
                    attributeName="y"
                    dur="10s"
                    keyTimes="0;0.45;0.46;0.54;0.55;1"
                    repeatCount="indefinite"
                    values="11;11;7;7;11;11"></animate></rect
                ></svg
              >
            </Link>
            {"/"}
            <Link href={HERO.MASTODON}>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="1.3em"
                height="1.3em"
                viewBox="0 0 24 24"
                ><path
                  fill="currentColor"
                  d="M7 2v2h10V2zm10 2v2h2V4zm2 2v8h2V6zm0 8h-8v2h8zm-8 2H9v2h2zm0 2v2h2v-2zm0 2H7v2h4zm-4 0v-2H5v2zm-2-2V6H3v12zM5 6h2V4H5zm4 0v2h2V6zm2 2v2h2V8zm2 0h2V6h-2zm2 0v4h2V8zM9 8H7v4h2z"
                ></path></svg
              >
            </Link>
            {"/"}
            <Link href={HERO.TWITTER}>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="1.3em"
                height="1.3em"
                viewBox="0 0 24 24"
                ><path
                  fill="currentColor"
                  d="M8.5 2h2.5L11 2h-2.5zM13 2h2.5L15.5 2h-2.5zM10.5 2h5v0h-5zM8.5 2h5v0h-5zM10 2h3.5L13.5 2h-3.5z"
                  ><animate
                    fill="freeze"
                    attributeName="d"
                    dur="0.8s"
                    keyTimes="0;0.3;0.5;1"
                    values="M8.5 2h2.5L11 2h-2.5zM13 2h2.5L15.5 2h-2.5zM10.5 2h5v0h-5zM8.5 2h5v0h-5zM10 2h3.5L13.5 2h-3.5z;M8.5 2h2.5L11 22h-2.5zM13 2h2.5L15.5 22h-2.5zM10.5 2h5v2h-5zM8.5 20h5v2h-5zM10 2h3.5L13.5 22h-3.5z;M8.5 2h2.5L11 22h-2.5zM13 2h2.5L15.5 22h-2.5zM10.5 2h5v2h-5zM8.5 20h5v2h-5zM10 2h3.5L13.5 22h-3.5z;M1 2h2.5L18.5 22h-2.5zM5.5 2h2.5L23 22h-2.5zM3 2h5v2h-5zM16 20h5v2h-5zM18.5 2h3.5L5 22h-3.5z"
                  ></animate></path
                ></svg
              >
            </Link>
            {"/"}
            <Link
              href={`mailto:${SITE.EMAIL}`}
              aria-label={`Email ${SITE.TITLE}`}
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="1.3em"
                height="1.3em"
                viewBox="0 0 22 22"
                ><path
                  fill="currentColor"
                  d="M1 5h1V4h18v1h1v13h-1v1H2v-1H1zm2 12h16V9h-1v1h-2v1h-2v1h-2v1h-2v-1H8v-1H6v-1H4V9H3zM19 6H3v1h2v1h2v1h2v1h4V9h2V8h2V7h2z"
                ></path></svg
              >
            </Link>
          </li>
        </ul>
      </section>
    </div>
  </Container>
</Layout>
